@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Epilogue", sans-serif;
}
body {
  overflow: hidden;
}
.container {
  margin-top: 30px;
  max-height: 100vh;
  max-width: 100vw;
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 20px;
  padding-bottom: 40px;
}

h1 {
  font-weight: 700;
}
p {
  text-decoration: none;
  font-weight: lighter;
}
.navbar {
  padding: 2rem;
  display: flex;
  margin-top: 30px;
  margin: 0px;
  background-color: beige;
}

.company-name {
  margin: 0px;
  margin-top: 0px;
  padding-top: 0px;
  line-height: 100%;
}
.left-links {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  padding-left: 20px;
}

#dropDown {
  display: none;
}

#dropDown.active {
  display: flex;
  flex-direction: column;
}

#menuOpen {
  display: block;
}
.company-links a {
  display: none;
}
.company-links {
  display: flex;
  flex-direction: column;
}
.right-links {
  margin-left: auto;
  padding-right: 20px;
}

a:hover a:link {
  color: black;
}
a {
  color: black;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}
.hero-section {
  display: flex;
  flex-direction: row;
}

.left-hero-section {
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 10px;
}
button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(251, 253, 255);
}
div .left-hero-section button {
  margin-top: 30px;
  background-color: black;
  color: white;
}

div.left-hero-section button:hover {
  background-color: white;
  color: black;
}

.image-hero-section img {
  max-height: 60vh;
  width: 30vw;
  padding-left: 200px;
  padding-top: 50px;
}
.footer {
  padding-left: 150px;
  transform: translateY(200%);
}
.footer img {
  height: 18px;
  width: 50px;
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 100px;
}
